html, body {
  margin: 0 auto;
  padding: 0;
  border: none;
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  min-height: 100wh;
}

#root{
  display: inline-block;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 50px;
}

.Coords{
  margin: 20px auto 0;
  height: 30px;
  font: bold 20px/30px sans-serif;
}
