battleshipbot
{
  mongo {
    host = "127.0.0.1:27017"
    user = ""
    pass = ""
    db = "battleship-bot"
  }
  battleship = "https://127.0.0.1:9443/api/games"
  botname = "defaultbot"
  repeat = 1
}
