:local(.CreateGame) {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 30px;
  text-align: center;
  background: rgba(#0030aa, 1);
  border-radius: 10px;
  color: white;
  font: 20px/25px sans-serif;
  cursor: pointer;
  transition: background .2s ease;
  &:hover {
    background: rgba(#0030aa, .8);
  }
}
